body {
  background: antiquewhite;
}

.MuiFormControlLabel-root {
  margin-left: 0 !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.MuiFilledInput-input.MuiFilledInput-input {
  font-size: 1.2rem;
  color: rgb(63, 58, 16);
  font-family: revert;
}

.MuiTable-root {
  background-color: antiquewhite;
  border: "1px solid red !important";
}

a {
  all: unset;
}

@media only screen and (orientation: portrait) {
  .wrapper {
    rotate: 90deg;
    transition: rotate 1s;
  }
}

@media only screen and (orientation: landscape) {
  body {
    margin: 0;
    padding: 0;
  }
}
